<?php 
        //create block_identifier static block
        echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('block_identifier')->toHtml();?>

<?php echo __('<div class="my-account-cms">Sign In <span> My Account</span></div>'); ?>