<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<small class="copyright">
     
	<span><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></span>
</small>
