// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: #535353;
@product-name-link__color__active: #f02640;
@product-name-link__color__hover: #f02640;
@product-name-link__color__visited: #535353;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: none;
@product-name-link__text-decoration__hover: none;
@product-name-link__text-decoration__visited: none;

//

//
//    Common
//--------------------------------------

& when (@media-common = true) {
// Product Lists
.products {
    margin: 0px -15px;
}
.product {
    &-items {
        &:extend(.abs-reset-list all);
    }
    &-item {
        vertical-align: top;
        .products-grid & {
            width: 100%/2;
            display: inline-block;
            padding: 0 5px;
        }
        &:extend(.abs-add-box-sizing all);

        &-name {
            &:extend(.abs-product-link all);
            display: block;
            margin:0px 0px 0px;;
	    text-transform:capitalize;
	    font-weight:300;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            font-size: 13px;
        }

        &-info {
            
            max-width: 100%;
			padding:5px 10px;
			box-sizing:border-box;
			display:block;
			text-align:center;
            .page-products & {
                
            }
       
		&:hover {
			
		}
			.product-item-image{
				position:relative;
				overflow:hidden;
                border: 1px solid #eeeeee;
                border-bottom-width: 3px;
                margin-bottom:10px;
                transition:all 0.3s ease; 
                -webkit-transition:all 0.3s ease; 
                -moz-transition:all 0.3s ease; 
                -ms-transition:all 0.3s ease; 
                -o-transition:all 0.3s ease;
				margin-bottom:7px;
				max-width:278px;
				width:100%;
				box-sizing:border-box;
				display:inline-block;
				vertical-align:middle;
				& {
			}
			
			}
        }

        &-actions {
            display: block;
            .actions-secondary {
                > .action {
                    &:extend(.abs-actions-addto all);
                    &:before {
                        margin: 0;
                    }
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }
            }
        }
        &-description {
            margin: 15px 0 10px;
             p { 
                  margin: 0px;
               }
        }
        .product-reviews-summary {
            .rating-summary {
                margin: 0 4px 0 0;
            }
            .reviews-actions {
                margin-top: 5px;
                text-transform: lowercase;
                font-size: @font-size__s;
            }
        }

        .price-box {
            margin:5px 0px 5px;
			color:#333333;

            .price {
                font-weight:600;
            }
            .price-label {
                font-size: @font-size__s;
                .lib-css(color, @text__color__muted);
                display:none;
            }
        }

        .old-price {
            margin:0px;
            .price {
                font-weight: normal;
                color:#909090;
                text-decoration:line-through;

            }
        }

        .minimal-price {
            .price-container {
                display: block;
            }
        }

        .minimal-price-link {
            margin-top: @indent__xs;
        }

        .price-from,
        .price-to {
            margin: 0;
        }

        .tocompare {
            .lib-icon-font-symbol(
                @icon-compare-full
            );
        }
        .tocart {
            white-space: nowrap;
            border-radius: 50%;
			border:none;
            .lib-font-size(0px);
            transition:all 0.5s ease 0s; 
            -webkit-transition:all 0.5s ease 0s; 
            -moz-transition:all 0.5s ease 0s; 
            -ms-transition:all 0.5s ease 0s; 
            -o-transition:all 0.5s ease 0s;

		    .lib-button(
				@_button-icon-font-text-hide:false,
				@_button-icon-font-color:#000,
				@_button-icon-font-color-hover:#303030,
				@_button-icon-use:false,
				@_button-font-content:@icon-cart,
				@_button-padding:17px,
                @_button-font-size: 0px,
				@_button-line-height: 22px,
                @_button-background:url("../images/icons.png") no-repeat scroll 8px 11px #ececec,
                @_button-border:none 
			);
			&:hover,&:active, &:focus {
                    color:#fff;
                    border:none;
                    background: url("../images/icons.png") no-repeat scroll 8px -20px #f02640;
            }
        }
    }
}

.column.main {
    .product {
        &-items {
            margin-left: 0px;
        }
        &-item {
            padding:0px 5px;
			text-align:center;
        }
    }
    .products-list{
        .product {
            &-item {
                padding:0px 0px;
                .price-box{
                    margin: 15px 0 8px;
                }
                .description{
                    margin: 3px 0 21px;
                    .action.more{
                        font-size: 11px;
                    }
                }
                .swatch-attribute-options{
                    margin-bottom: 16px;
                }
            }
        }

    }
}

.price-container {
    .price {
        .lib-font-size(14);
    }

    .price-including-tax + .price-excluding-tax,
    .weee {
        margin-top: 5px;
    }

    .price-including-tax + .price-excluding-tax,
    .weee,
    .price-including-tax + .price-excluding-tax .price,
    .weee .price,
    .weee + .price-excluding-tax:before,
    .weee + .price-excluding-tax .price {
        .lib-font-size(11);
        color: #333333;
    }

    .weee {
        &:before {
            content: "("attr(data-label) ": ";
        }
        &:after {
            content: ")";
        }
        + .price-excluding-tax {
            &:before {
                content: attr(data-label) ": ";
            }
        }
    }
}

.products-list {
    .product {
        &-item {
            display: table;
            width: 100%;
            &-info {
                padding:0px; 
                display:block;
                text-align:left;
                margin: 0 0 20px;

                .product-item-image {
                float:left;
                margin:0 30px 20px 0;
                width: auto;
                }
            }
            &-photo {
                width: 1%;
                padding:0;
                vertical-align: top;
     
            }
            &-details {
                /*vertical-align: top;
               	display:inline-block;
				margin-left:0px;
				max-width:868px;
                text-align:left;
                padding:0px 0 0;
                width:74%;*/
            }
        }
    }
    .product-image-wrapper {
        &:extend(.abs-reset-image-wrapper all);
    }
}

}
/*.page-layout-2columns-left{
    .products-list {
        .product {
            &-item {
                &-details {
                    width: 66%;
                }
            }
        }
    }
}*/
.product-item-actions {        
        .actions-primary + .actions-secondary {
           width: auto;
            padding-left:0px;
            display: inline-block;
            vertical-align: middle;
            > .action {
                padding:17px;
                color:#b3b3b3;
                border:none;
                min-width:auto;
                vertical-align:middle;
                border-radius: 50%;
                transition:all 0.5s ease 0s; 
                -webkit-transition:all 0.5s ease 0s; 
                -moz-transition:all 0.5s ease 0s; 
                -ms-transition:all 0.5s ease 0s; 
                -o-transition:all 0.5s ease 0s;
                float: left;
                &:hover {
        }
    }
        }
    .actions-primary { display: inline-block; vertical-align: middle; }
}

//
//    Mobile
//--------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;
            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
		 & {
            &:hover,
            &.active {
               
                z-index: 2;
                .lib-css(background, @color-white);
                .product-item-image{
					border-color:#f02640;
				}
            }
        }
    }
    .product-item-inner {
		z-index:99;
		background:transparent;
		margin:4px 0px 4px;
        text-transform:capitalize;
        position: relative;
        .products-grid & {
           
        }
    }

    .product-item-actions {
        display: block;
        .products-grid & {
          
        }
        .actions-primary + .actions-secondary {

            }
        }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            width: 100%/4;
			text-align:center;
            margin-bottom:0px;
        }
    }

    .page-layout-1column .products-grid .product-item { width: 100%/3 }
    .page-layout-3columns .products-grid .product-item { width: 100%/3 }
    .page-products .products-grid .product-item { width: 100%/3; }
    .page-products.page-layout-1column .products-grid .product-item { width: 100%/3 }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100%/3 }
}


//
//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .page-products .products-grid .product-item { width: 100%; }
    .page-products.page-layout-1column .products-grid .product-item { width: 100% }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100% }
    .products-grid .product-item { width: 100%; }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
    .page-layout-1column .products-grid .product-item { width: 100%/4 }
    .page-layout-3columns .products-grid .product-item { width: 100%/4 }
    .page-products .products-grid .product-items { margin: 0; }
    .page-products .products-grid .product-item {
        width: 33.33%;
        margin-left: calc(~"(100% - 3 * 33.333%) / 4");
        padding: 0 5px;
        &:nth-child(4n+1) {
            margin-left: 0;
        }
    }
    .page-products .products-grid .product-item { width: 100%/4; }
    .page-products.page-layout-1column .products-grid .product-item { width: 100%/4 }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100%/4 }

}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products .products-grid .product-item { width: 100%/3; }
    .page-products.page-layout-1column .products-grid .product-item { width: 100%/3 }
    .page-products.page-layout-3columns .products-grid .product-item { width: 100%/2 }
}
